p {
    background-color: pink;
}

p.description {
    background-color: blueviolet;
    margin-top: -20px;
}

li {
    text-align: center;
}

img {
    display: inline;
    height: 300px;
    height: 300px;
}

ul {
    display: inline;
}

ul li {
    font-size: 50px;
    font-weight: bold;
    color: orange;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

ol li {
    color: red;
}